<h1>dashboard</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Add task
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="exampleInputEmail1">Title</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title Here...">
		    <label for="exampleFormControlTextarea1">Description</label>
   			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
   			<div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
         <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eget aliquet nibh praesent tristique magna sit. Est ultricies integer quis auctor elit sed vulputate mi sit. Nisi quis eleifend quam adipiscing vitae. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Quisque id diam vel quam elementum pulvinar etiam non quam. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. At varius vel pharetra vel turpis nunc eget lorem. Est sit amet facilisis magna etiam tempor. Amet consectetur adipiscing elit pellentesque habitant. Dui ut ornare lectus sit amet. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
	</div>
	<div class="col-md-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eget aliquet nibh praesent tristique magna sit. Est ultricies integer quis auctor elit sed vulputate mi sit. Nisi quis eleifend quam adipiscing vitae. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Quisque id diam vel quam elementum pulvinar etiam non quam. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. At varius vel pharetra vel turpis nunc eget lorem. Est sit amet facilisis magna etiam tempor. Amet consectetur adipiscing elit pellentesque habitant. Dui ut ornare lectus sit amet. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
	</div>
	<div class="col-md-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eget aliquet nibh praesent tristique magna sit. Est ultricies integer quis auctor elit sed vulputate mi sit. Nisi quis eleifend quam adipiscing vitae. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Quisque id diam vel quam elementum pulvinar etiam non quam. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. At varius vel pharetra vel turpis nunc eget lorem. Est sit amet facilisis magna etiam tempor. Amet consectetur adipiscing elit pellentesque habitant. Dui ut ornare lectus sit amet. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
	</div>
	<div class="col-md-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eget aliquet nibh praesent tristique magna sit. Est ultricies integer quis auctor elit sed vulputate mi sit. Nisi quis eleifend quam adipiscing vitae. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Quisque id diam vel quam elementum pulvinar etiam non quam. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. At varius vel pharetra vel turpis nunc eget lorem. Est sit amet facilisis magna etiam tempor. Amet consectetur adipiscing elit pellentesque habitant. Dui ut ornare lectus sit amet. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
	</div>
	
</div>

