<ul class="nav justify-content-center">
	<% if current_user %>
		<li>Logged in as <%= link_to current_user.email, user_session_path(current_user) %></li>
		<li class="navbar-right"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-item" %></li>
	<% else %>
		<li><%= link_to 'Login', new_user_session_path, class: "nav-item" %></li>
		<li><%= link_to 'Register', new_user_registration_path, class: "nav-item" %></li>
	<% end %>
</ul>