<p id="notice" ><%= notice %></p>

<h1>Dashboards</h1>

<div class="actions">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Task</button>

  <!-- Modal -->
  <div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <%= render 'tasks/form', task: @task, remote: true %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 border shadow">
        <h2 class='border buttom'>Bucket-1</h2>
        <div class="card draggable" style="width: 16rem;" >
          <% @tasks.each do |task| %>

            <%= render 'tasks/task', task: task %>

          <% end %>
        </div>
        
      </div>

      <div class="col-md-3 border shadow" id="droppable">
        <h2 class='border buttom'>Bucket-2</h2>
        <p>&nbsp;</p>
      </div>

      <div class="col-md-3 border shadow" id="droppable">
        <h2 class='border buttom'>Bucket-3</h2>
        <p>&nbsp;</p>
      </div>

      <div class="col-md-3 border shadow" id="droppable">
        <h2 class='border buttom'>Bucket-4</h2>
        <p>&nbsp;</p>
      </div>

    </div>

  </div>

</div>